html,
body,
div,
input,
button,
select,
table,
th,
tr,
td,
dl,
dd,
ul,
li,
ol,
a,
span,
h1,
h2,
h3,
label,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: 나눔고딕, "NanumGothic", "돋움", sans-serif;
  font-size: 12px;
  color: #000;
}
input {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
select {
  width: 33%;
  height: 35px; /*임의값*/
  margin-bottom: 20px;
}

table,
th,
tr,
td {
  height: 30px;
  text-align: center;
  font-size: 12px;
  color: #555;
}
dl {
  padding: 0 10px; /*들여쓰기 하고 싶음*/
}
dd {
  margin: 0;
}
ul {
  padding: 0 0 0 10px;
  line-height: 17px;
}

a {
  text-decoration: none;
}

.header {
  padding: 30px 0px;
  background-color: black;
}
.header_title {
  margin: 0 auto;
  padding: 0 40px;
  width: 1000px;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  line-height: 60px;
}
.main {
  margin: 40px auto;
  padding: 0 40px;
  width: 1000px;
}
.menu_wrap {
  margin: 0 -7px;
  font-size: 0;
}
.menu_size {
  margin: 0 7px;
  width: 324px;
  display: inline-block;
}
.menu {
  padding: 5px;
  border: 1px solid #d1d1d1;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}

/*.menu:last-child {
    margin-right: 0;
}*/
/*.menu:hover { 
    border: 1px solid #454545; 
    font-weight: bold; 
    }*/
.first_title {
  margin-top: 40px;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #454545;
  padding-bottom: 20px;
}

.second_title {
  margin-top: 30px;
  padding: 13px 15px;
  background-color: #f7f7f7;
  border: 1px solid #d1d1d1;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.form {
  border: 1px solid #d1d1d1;
  border-top: none;
  padding: 30px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  height: 210px;
  margin-bottom: 40px;
}
.table1_border {
  border: 1px solid #e4e4e4;
}
.caption {
  text-align: left;
  padding-bottom: 10px;
}
.thead {
  background-color: #fbfbfb;
}
.td_title {
  font-weight: bold;
}

.th_bcolor {
  text-align: center;
  background-color: #fbfbfb;
}
.th {
  width: 15%;
}
.table2 {
  width: 100%;
  height: 120px;
}
.table2_border {
  border-top: 2px solid #a5a5a5;
  border-bottom: 1px solid #e4e4e4;
}
.number_align {
  text-align: right;
}
.tfoot {
  font-weight: bold;
}

.contents_title {
  padding-left: 0;
  padding-bottom: 10px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.join_box {
  padding: 0;
  width: 100%;
}
.join_menu {
  padding: 20px; /* 패딩값이 있어야 들여쓰기가 될 거 같음.. */
  background-color: #fbfbfb;
  border: 1px solid #e4e4e4;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.join_menu input {
  margin-bottom: 20px;
}
.join_middle_menu {
  width: 100%;
  height: 30px;
}
.join_contents {
  margin-bottom: 5px;
}
.join_contents label {
  display: inline-block;
  margin-bottom: 5px;
}
.gender {
  margin-right: 20px;
  margin-bottom: 15px;
  display: inline-block;
  line-height: 20px;
  top: 0;
}
.gender .center_button {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.gender .text {
  line-height: 16px;
}
.mobile {
  padding: 0;
  padding-right: 155px;
  position: relative;
}
.mobile .phone_number {
  width: 100%;
  height: 30px;
  margin: 5px 0;
}
.certification {
  position: absolute;
  right: 0;
  top: 5px;
  width: 150px; /* 임의값 */
  height: 30px; /*임의값*/
  border: 1px #08a600;
  background-color: #4ec53d;
  font-size: 12px;
  color: #fff;
}

.hobby .center_button {
  position: relative;
  top: 3.5px;
  margin-right: 5px;
}
.hobby_name {
  font-size: 12px;
  line-height: 16px;
  color: #000;
  font-weight: normal;
  margin-right: 15px; /*오른쪽 간격 주고 싶음*/
}
.submit {
  width: 100%;
  height: 50px; /*임의값*/
  border: 1px #08ab00;
  background-color: #4ec53d;
  font-size: 16px;
  color: #fff;
}
.list_box {
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
  padding: 20px 21px 20px 20px;
  margin-top: 0;
}

.list_title {
  margin: 20px 0;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-weight: bold;
}
.source {
  margin-left: 5px;
  font-size: 12px;
  color: #559bfa;
}
.dt_title {
  padding-left: 0;
  padding-bottom: 5px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.dd {
  margin-bottom: 20px;
  line-height: 20px;
}

.list_number {
  width: 17px;
  height: 17px;
  border: 1px solid #e0e0e0;
  display: inline-block;
  font-size: 10px;
  margin-right: 10px; /*글씨 너무 붙어서 띄움*/
  text-align: center;
  color: #666;
}
.chart_box {
  border: 1px solid #e4e4e4;
  margin-top: 0;
  padding-left: 20px;
  padding-top: 0;
}
.chart {
  list-style: none;
  margin: 20px; /*위아래가 너무 붙음*/
  line-height: 17px;
  vertical-align: middle;
}
.chart:hover {
  text-decoration: underline;
}
.guidance {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #559bfa;
}
.guidance:last-child {
  content: "";
  margin-bottom: 0;
}
.bold {
  font-weight: bold;
}
.red {
  color: #ec5336;
}
.link {
  color: #559bfa;
  text-decoration: underline;
}

.news_wrap {
  border: 1px solid #e4e4e4;
  padding-left: 20px;
  padding-right: 21px;
  margin-bottom: 20px;

  margin-top: 0;
}
.news_box {
  list-style: none;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
}
.news_box:last-child {
  border: none;
}

.text {
  font-size: 12px;
  color: #000;
}
.headline {
  font-size: 14px;
  color: #00c;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 5px;
  padding-top: 20px;
}
.newsimg {
  float: left;

  margin: 20px 10px 20px 0;
}
.news_description {
  margin: 0 0 10px 0;
  line-height: 18px;
}

.cuttoon {
  display: inline-block;
  padding: 0 3px;
  margin-right: 5px;
  border: 1px solid #71b036;
  background-color: #80c83d;
  font-size: 10px;
  color: #fff;
}
.smarttoon {
  display: inline-block;
  padding: 0 3px;
  margin-right: 5px;
  border: 1px solid #df4e28;
  background-color: #ec5336;
  font-size: 10px;
  color: #fff;
}

.webtoon_wrap {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  border: 1px solid #e4e4e4;
}
.webtoon_wrap .webtoon_title {
  margin-top: 10px;
  margin-bottom: 3px;
  display: inline-block;
}
.webtoon_box1 {
  display: inline-block;
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  vertical-align: top;
}
.webtoon_box1:nth-child(3n) {
  margin-right: 21px;
}

.webtoonimg {
  width: 285px;
  height: 140px;
  margin: 0;
  display: block;
}

.webtoon:hover {
  text-decoration: underline;
}

.bottom {
  height: 110px;
  border-top: 1px solid #d1d1d1;
  padding: 20px 0;
}
.address {
  font-size: 12px;
  color: #999;
  padding: 0;
  text-align: center;
}
.copyright {
  padding: 0;
  text-align: center;
}

.guidance_box {
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
  padding: 20px 20px 21px 20px;
  margin-top: 0;
}
