html,
body,
div,
input,
button,
select,
table,
th,
tr,
td,
dl,
dd,
ul,
li,
ol,
a,
span,
h1,
h2,
h3,
img,
label,
form {
  margin: 0;
  padding: 0;
}
body {
  font-family: 나눔고딕, "NanumGothic", "돋움", sans-serif;
  font-size: 12px;
  color: #000;
}
input {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
caption {
  text-align: left;
}
table,
th,
tr,
td {
  height: 30px;
  text-align: center;
  font-size: 12px;
  color: #555;
}

dd {
  margin: 0;
}
ul {
  padding: 0 0 0 10px;
  line-height: 17px;
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

.skyblue {
  color: #559bfa;
}

.header {
  padding: 30px 0px;
  background-color: black;
  min-width: 1080px;
}
.header_title {
  margin: 0 auto;
  padding: 0 40px;
  width: 1000px;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  line-height: 60px;
}
.main {
  margin: 40px auto;
  padding: 0 40px;
  min-width: 1000px;
  width: 1000px;
}
.global_link_wrap {
  margin: 0 -7px;
  font-size: 0;
}
.global_link {
  margin: 0 7px;
  width: 324px;
  display: inline-block;
  padding: 5px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
}
.global_link:hover {
  border: 1px solid #454545;
  font-weight: bold;
}
.first_title {
  margin-top: 40px;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #454545;
  padding-bottom: 20px;
}
.second_title {
  margin-top: 30px;
  padding: 13px 15px;
  background-color: #f7f7f7;
  border: 1px solid #d1d1d1;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.contents {
  border: 1px solid #d1d1d1;
  border-top: none;
  padding: 30px;
  font-size: 12px;
  color: #000;
}
.contents_title {
  margin: 40px 0 10px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.contents_title:first-child {
  margin: 0 0 10px;
}
.size_table {
  border-collapse: collapse;
  width: 100%;
  height: 210px;
}
.size_table th,
.size_table td {
  border: 1px solid #e4e4e4;
}
.table_title {
  width: 15%;
}
.table_title_wrap {
  text-align: center;
  background-color: #fbfbfb;
}
.refund_table {
  width: 100%;
  height: 120px;
  border-collapse: collapse;
  font-size: 12px;
  color: #555;
}
.refund_table_title {
  border-top: 2px solid #a5a5a5;
  border-bottom: 1px solid #e4e4e4;
  background-color: #fbfbfb;
}
.refund_table_title:first-child {
  width: 35%;
}
.refund_table_title:last-child {
  width: 25%;
}
.cost {
  text-align: right;
}
.refund_table tfoot td {
  border-top: 2px solid #a5a5a5;
  border-bottom: 1px solid #e4e4e4;
  font-weight: bold;
}

.join_box {
  padding: 0;
  width: 100%;
}
.join_menu {
  padding: 20px; /* 패딩값이 있어야 들여쓰기가 될 거 같음.. */
  background-color: #fbfbfb;
  border: 1px solid #e4e4e4;
}
.join_input {
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #000;
}
.join_contents {
  margin-bottom: 20px;
}
.join_contents .contents_label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.join_contents .birtch_wrap {
  margin-right: -8px;
  font-size: 0;
}
.join_contents .birth_select_wrap {
  display: inline-block;
  padding-right: 8px;
  width: 33.33%;
  box-sizing: border-box;
}
.join_contents .birth_select_wrap .birth_select {
  height: 30px;
  width: 100%;
  font-size: 12px;
  color: #000;
}
.gender {
  margin-right: 60px;
  display: inline-block;
}
.gender .center_button {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.gender .text {
  line-height: 16px;
}
.mobile {
  padding: 0;
  padding-right: 155px;
  position: relative;
}
.mobile .phone_number {
  width: 100%;
  height: 30px;
  margin: 5px 0;
}
.certification {
  position: absolute;
  right: 0;
  top: 5px;
  width: 150px; /* 임의값 */
  height: 30px; /*임의값*/
  border: 1px #08a600;
  background-color: #4ec53d;
  font-size: 12px;
  color: #fff;
}
.hobby_wrap {
  display: inline-block;
  margin-right: 67px;
}
.hobby .center_button {
  position: relative;
  top: 3.5px;
  margin-right: 5px;
}
.hobby_name {
  font-size: 12px;
  line-height: 16px;
  color: #000;
  font-weight: normal;
  vertical-align: middle;
}
.introduce {
  display: block;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}
.submit {
  width: 100%;
  height: 50px; /*임의값*/
  border: 1px #08ab00;
  background-color: #4ec53d;
  font-size: 16px;
  color: #fff;
}
.list_box {
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
  padding: 20px 21px 20px 20px;
  margin-top: 0;
}

.list_title {
  margin: 30px 0;
  text-align: center;
  font-size: 32px;
  color: #000;
  font-weight: bold;
}
.source {
  margin-left: 5px;
  font-size: 12px;
  color: #559bfa;
  font-weight: normal;
}
.dt_title {
  padding-left: 0;
  padding-bottom: 5px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.dd {
  margin-bottom: 20px;
  line-height: 20px;
}

.list_number {
  width: 15px;
  height: 15px;
  border: 1px solid #e0e0e0;
  display: inline-block;
  font-size: 10px;
  margin-right: 10px; /*글씨 너무 붙어서 띄움*/
  text-align: center;
  color: #666;
}
.chart_box {
  width: 250px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e4e4e4;
}
.chart_item {
  margin-top: 8px; /*위아래가 너무 붙음*/
  line-height: 16px;
  vertical-align: middle;
  font-size: 12px;
  color: #000;
}
.chart_item:first-child {
  margin-top: 0;
}
.chart:hover {
  text-decoration: underline;
}

.guidance_list {
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
  padding: 20px 20px 21px 20px;
  margin-top: 0;
  list-style-type: disc;
}

.guidance_item {
  margin-left: 20px;
  margin-bottom: 8px;
  font-size: 12px;
}

.guidance_item:last-child {
  content: "";
  margin-bottom: 0;
}
.bold {
  font-weight: bold;
}
.red {
  color: #ec5336;
}
.link {
  color: #559bfa;
  text-decoration: underline;
}

.news_wrap {
  border: 1px solid #e4e4e4;
  padding-left: 20px;
  padding-right: 21px;
  margin-bottom: 20px;

  margin-top: 0;
}
.news_box {
  list-style: none;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
}
.news_box:last-child {
  border: none;
}

.headline {
  font-size: 14px;
  color: #00c;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 5px;
  padding-top: 20px;
}
.newsimg {
  float: left;

  margin: 20px 10px 20px 0;
}
.news_description {
  margin: 0 0 10px 0;
  line-height: 18px;
  font-size: 12px;
}

.badge {
  display: inline-block;
  padding: 0 3px;
  margin-right: 5px;
  font-size: 10px;
  color: #fff;
  line-height: 12px;
  vertical-align: middle;
}
.badge_cuttoon {
  border: 1px solid #71b036;
  background-color: #80c83d;
}
.badge_smarttoon {
  border: 1px solid #df4e28;
  background-color: #ec5336;
}

.webtoon_wrap {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  border: 1px solid #e4e4e4;
  font-size: 0;
}
.webtoon_wrap .webtoon_title {
  margin-top: 10px;
  margin-bottom: 3px;
  display: inline-block;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.webtoon_desc {
  font-size: 12px;
}
.webtoon_item {
  display: inline-block;
  padding: 0;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 20px;
}
.webtoon_item:nth-child(3n) {
  margin-right: 21px;
}

.webtoonimg {
  height: 140px;
  display: block;
}

.webtoon:hover {
  text-decoration: underline;
}

.footer {
  min-width: 1080px;
  border-top: 1px solid #d1d1d1;
  padding: 30px 0;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}
.address {
  color: #999;
}
.copyright {
  color: #000;
}
